# Question 1

In [1]:
a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

b()
b()
b()
a

6

Ans: The value is displayed as 6 because a is declared as  global variable in the function b. Therefore the one global instance of a is passed in the c functions and thus after 3 function calls, the value of a is 2+2+2 = 6

# Question 2

In [2]:
def fileLength(fileName):
    l = 0
    try:
        with open(fileName) as f:
            for line in f:
                l = l + len(line)
        print(l)
    except FileNotFoundError as e:
        print(f"File {fileName} not found")
    except Exception as e:
        print(f"Got some error while opening the file: {fileName}")


fileLength("Filelength.txt")
fileLength("Filelength1.txt")

123
File Filelength1.txt not found

# Question 3

In [3]:
class Marsupial:
    
    contentsList = []
    
    def __init__(self):
        self.contentsList = []
    
    def put_in_pouch(self, content):
        self.contentsList.append(content)
    
    def pouch_contents(self):
        return self.contentsList


class Kangaroo(Marsupial):
    x = 0
    y = 0
    
    def __init__(self, x, y):
        self.x = x
        self.y = y
    
    def jump(self, dx, dy):
        self.x = self.x + dx
        self.y = self.y + dy
    
    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

    
m = Marsupial()
m.put_in_pouch("doll")
m.put_in_pouch("firetruck")
m.put_in_pouch("kitten")
print(m.pouch_contents())

k = Kangaroo(0,0)
print(k)
k.put_in_pouch("doll")
k.put_in_pouch("firetruck")
k.put_in_pouch("kitten")
print(k.pouch_contents())

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

# Question 4

In [5]:
def collatz(num):
    print(num)
    if num == 1:
        return
    
    if num % 2 == 0:
        num = int(num / 2)
    else:
        num = 3 * num + 1
    collatz(num)
    

collatz(1)
print()
collatz(10)

1

10
5
16
8
4
2
1

# Question 5

In [6]:
def binary(n):
    if n > 1:
        binary(n//2)
    print(n % 2,end = '')


binary(0)
print()
binary(1)
print()
binary(3)
print()
binary(9)

0
1
11
1001

# Question 6

In [7]:
from html.parser import HTMLParser
import re
class HeadingParser(HTMLParser):

    headings = []
    headingFlag = False
    
    def __init__(self):
        HTMLParser.__init__(self)
        self.headings = []
        self.headingFlag = False
    
    def handle_starttag(self, tag, attrs):
        if re.fullmatch(r'h[1-6]', tag):
            indent = ["\t"] * (int(tag[1]) - 1)
            self.headingFlag = True
            self.headings.append(indent)
        else:
            self.headingFlag = False
    
    def handle_data(self, data):
        if self.headingFlag:
            self.headings[-1].append(data)
        self.headingFlag = False
    
    def getHeadings(self):
        for heading in self.headings:
            print("".join(heading))
            

infile = open('w3c.html') 
content = infile.read()
infile.close()
headingParser = HeadingParser() 
headingParser.feed(content) 
headingParser.getHeadings()

W3C Mission
	Principles

# Question 7

In [8]:
from urllib.parse import urljoin
from urllib.request import urlopen
from html.parser import HTMLParser
class Collector(HTMLParser):
    'collects hyperlink URLs into a list'

    def __init__(self, url):
        'initializes parser, the url, and a list'
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    
    def handle_starttag(self, tag, attrs):
        'collects hyperlink URLs in their absolute format'
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': # collect HTTP URLs
                        self.links.append(absolute)
                        
    def getLinks(self):
        'returns hyperlinks URLs in their absolute format'
        return self.links


def analyze(url):
    # obtain links in the web page
    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    urls = collector.getLinks()          # get list of links
    return urls

def crawl2(url, depth=0, indent=0, indentDepth=0):
    '''a recursive web crawler that calls analyze()
       on every visited web page'''
    if depth == -1:
        return
    indentation = [" " * indent] * indentDepth
    print("".join(indentation), url)
    # analyze() returns a list of hyperlink URLs in web page url 
    links = analyze(url)
    # recursively continue crawl from every link in links
    for link in links:
        try:
            crawl2(link, depth-1, indent, indentDepth+1)
        except:
            pass

crawl2('http://reed.cs.depaul.edu/lperkovic/one.html', 2, 4)

 http://reed.cs.depaul.edu/lperkovic/one.html
     http://reed.cs.depaul.edu/lperkovic/two.html
         http://reed.cs.depaul.edu/lperkovic/four.html
     http://reed.cs.depaul.edu/lperkovic/three.html
         http://reed.cs.depaul.edu/lperkovic/four.html

# Question 8

In [9]:
%load_ext sql

In [10]:
%sql sqlite://

'Connected: @None'

In [11]:
%%sql
CREATE TABLE Weather (City, Country, Season, Temprature, Rainfall);
INSERT into Weather values ("Mumbai", "India", "Winter", 24.8, 5.9);
INSERT into Weather values ("Mumbai", "India", "Spring", 28.4, 16.2);
INSERT into Weather values ("Mumbai", "India", "Summer", 27.9, 1549.4);
INSERT into Weather values ("Mumbai", "India", "Fall", 27.6, 346.0);
INSERT into Weather values ("London", "United Kingdom", "Winter", 4.2, 207.7);
INSERT into Weather values ("London", "United Kingdom", "Spring", 8.3, 169.6);
INSERT into Weather values ("London", "United Kingdom", "Summer", 15.7, 157.0);
INSERT into Weather values ("London", "United Kingdom", "Fall", 10.4, 218.5);
INSERT into Weather values ("Cairo", "Egypt", "Winter", 13.6, 16.5);
INSERT into Weather values ("Cairo", "Egypt", "Spring", 20.7, 6.5);
INSERT into Weather values ("Cairo", "Egypt", "Summer", 27.7, 0.1);
INSERT into Weather values ("Cairo", "Egypt", "Fall", 22.2, 4.5);

 * sqlite://
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [12]:
%sql SELECT Temprature from Weather;

 * sqlite://
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [13]:
%sql SELECT DISTINCT City from Weather;

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

In [14]:
%sql SELECT * from Weather where Country = "India";

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [15]:
%sql SELECT * from Weather where Season = "Fall";

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [16]:
%sql SELECT City, Country, Season from Weather where Rainfall BETWEEN 200 AND 400

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [17]:
%sql SELECT City, Country from Weather where Season = "Fall" AND Temprature > 20 ORDER BY Temprature ASC

 * sqlite://
Done.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [18]:
%sql SELECT City, sum(Rainfall) from Weather where City = "Cairo";

 * sqlite://
Done.

[('Cairo', 27.6)]

In [19]:
%sql SELECT Season, sum(Rainfall) from Weather GROUP BY Season;

 * sqlite://
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# Question 9

In [20]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']

print("a:", [word.upper() for word in words])
print("b:", [word.lower() for word in words])
print("c:", [len(word) for word in words])
print("d:", [[word.upper(), word.lower(), len(word)] for word in words])
print("e:", [word for word in words if len(word) >= 4])

a: ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
b: ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c: [3, 5, 5, 3, 5, 4, 3, 4, 3]
d: [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
e: ['quick', 'brown', 'jumps', 'over', 'lazy']